.AboutContainer {
  margin: auto;
  width: 60%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;

}

h4 {
  color: white;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none !important;
  font-weight: 600;
}
a:hover {
  color: #fd8ed4 !important;
}

i.fa-github {
  display: inline-block;
  font-size: 2rem;
}

i.fa-linkedin {
  display: inline-block;
  font-size: 2rem;
}
