// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  background: url(../images/roots_small_nigredo.jpg);
  background-position: top left;
  background-repeat: no-repeat;

}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TitleContainer{
  width: 100%;
  margin: 2rem 0 0 2rem;
  text-align: left;
  justify-self: left;
}

h3.MyName{
  display: inline;
  font-size: 2.5rem;
  margin: 0px 0px 0px 0px;
}

h3.MyLocation{
  display: inline-block;
  font-size: 1.5rem;
  margin: 0px 0px 0px 10px;
}

h4.MyTitle{
  font-size: 1rem;
  margin: 2px 0 0 0
}

hr.WhiteLine{
  margin: 0 0 0 0;
}

.navbar {
  margin: 0 0 2rem 0;
  width: 100%;
  justify-content: flex-end;
}

.NavLink,
.NavLink:link,
.NavLink:visited {
  color: white;
  text-decoration: none;
}

.NavLink:hover {
  color: #d30c5f !important;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.footer {
  position: relative;
  bottom: 1rem;
}

.footerlinks {

  margin-right: auto;
  margin-left: auto;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none !important;
  font-weight: 600;
}
a:hover {
  color: #d30c5f !important;
}

i.fa-github {
  display: inline-block;
  font-size: 2rem;
}

i.fa-linkedin {
  display: inline-block;
  font-size: 2rem;
  margin-left: 1rem;
}

i.fa-paper-plane {
  display: inline-block;
  font-size: 2rem;
  margin-left: 1rem;
}

