
.ProjectContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  // background: white;
  margin: auto;
}

.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  // align-items: center;
}


// ________

.Projects img {
  max-width: 300px;
  margin: 0px;
  border: 0px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s;
}

.Projects img:hover {
  transform: scale(1.1);
}

// ________


// REMOVE!
h3 {
  color: white;
}

h5 {
  font-size: 1.5rem!important;
  font-weight: 700!important;
}

@media only screen and (min-width: 600px) {
.RockstarImage {
  max-width: 65vw;
  max-height: 50vh;
}
h5 {
  font-size: 2rem!important;
}
}
@media only screen and (min-width: 900px) {
.RockstarImage {
  max-width: auto;
  max-height: 50vh;
}

}